body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  border: 2px solid rgb(95, 131, 103);
  height: 250px;
  width: 100%;
  color: #000;
}

.container {
  background-color: burlywood;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.page-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}